<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>

  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Bin;Libs;"/>
    </assemblyBinding>
  </runtime>

</configuration>
